{% extends 'testapp/base.html' %}

{% block proj %}
  <h1>Projects handled by:{{handler.email}}</h1>
  {% for project in show_projects %}
    <div class="content container">
      <div class="row">
        <div class="col-md-8">
          <div class="project">
            <h1><a href="">{{project.Subject}}</a></h1>
            <p>{{project.Description}}</p>
            <p><a href="{% url 'handler_projects' pk=project.Handler.pk %}">Handled by: {{project.Handler.username}}</a></p>
            <p>Last Updated: {{project.last_updated_date}}</p>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}
